{"$type":"System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[System.Object, mscorlib]], mscorlib","DataDirectPassword":"4XJJNU4Jad6Ftf8n","DataDirectUserName":"FDS_DEMO_FE_410734_SERVICES","DeveloperCluster":-1,"HTTPSRetries":1,"Timeout":930,"ProxyPassword":"","ProxyServer":"","ProxyUserName":"","ProxyPort":"","UseManualProxy":false,"SideBarDataName":"data","UseBeta":false,"UseTest":false,"SuppressSummary":false,"SuppressDesc":false,"UseOTPCredentials":false,"FactSetNetId":"","RealtimeUser":"","RealtimeSerial":"","DeviceId":"6efa0145-a159-4a5e-9031-d2a93a3a7f94","VerboseMode":false,"NewTimeoutSet":false,"SP_BSBM":false,"SP_RLF":true,"EventLogSizeLimit":50000,"EventLogInputSizeLimit":500,"TcpKeepAliveTime":60000,"TcpKeepAliveInterval":5000,"SecurityProtocol":"Tls12","UseRegistry":false}